@page
@model WebApp_UnderTheHood.Pages.HrManagerModel
@{
}

<div class="text-center">
    <h1 class="display-4">Human Resources</h1>
    <p>Welcome to Human Resources Management.</p>
</div>

<br />

@if (Model.WeatherForecastItems == null || !Model.WeatherForecastItems.Any())
{
    <p>No weather forecast data available.</p>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temperature (<sup>o</sup>C)</th>
                <th>Temperature (<sup>o</sup>F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.WeatherForecastItems)
        {
                <tr>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.TemperatureC</td>
                    <td>@item.TemperatureF</td>
                    <td>@item.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}


